@import 'milligram/dist/milligram';
// Colours
$primary-color-dark: #9b4dca;
$primary-color: #9c27b0;
$primary-color-light: #e1bee7;
$primary-color-text: #ffffff;
$accent-color: #b0a727;
//$accent-color:         #9E9E9E;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
// Media queries
$break-small: 375px;
$break-large: 1200px;
// Global

h1, h2 {
  text-transform: uppercase;
}

h2.page-header {
  border-bottom: 1px solid #757575;
}

body {
  margin: 0;
}

.page {
  max-width: 800px;
  padding-top: 50px;
  margin: 0 auto;
  padding: 15px;
}

// Button Extensions
.button-black {
  background-color: $primary-text-color;
  border-color: $primary-text-color;
}

.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color: $primary-text-color;
}

.button-black.button-clear {
  border-color: transparent;
}

/* Custom size */

.button-small {
  font-size: 0.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}

// Bar chart
@for $i from 1 through 100 {
  .percentage-#{$i} {
    $value: ($i * 1%);
    padding-left: 3px;
    padding-bottom: 0px;
    margin: 1px;
    background: linear-gradient(to right, $primary-color-light $value, #fff 0%);
  }
}

// FLOAT PICTURES
.contained {
  display: block;
  width: 100%;
  clear: both;
}

.floated {
  float: left;
  padding-right: 10px;
  width: 300px;
  @media screen and (max-width: $break-small) {
    width: 100%;
    float: none;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 0px 8px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
